<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applicationprime.primevideo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrimeVideo">
        <activity
            android:name="com.applicationprime.primevideo.Activity.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.applicationprime.primevideo.Activity.SeetingActivity"
            android:exported="true" />
        <activity
            android:name="com.applicationprime.primevideo.Activity.YoutubeVideoPlayActivity"
            android:exported="true" />
        <activity
            android:name="com.applicationprime.primevideo.Activity.LogInActivity"
            android:exported="true"/>
        <activity
            android:name="com.applicationprime.primevideo.Activity.MainActivity"
            android:exported="true">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>